@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    /* --primary-color: #1877F2; */
    --secondary-color: rgb(252, 251, 251);
    --secondary-black: #333;
    --primary-grey: rgb(211, 211, 211);
    --profile-pic-background: rgb(236, 236, 236);
    --opacity-background: rgba(255,255,255,.5);
    --input-background-grey: rgb(245,245,245);
    --border-color: rgb(200,200,200);
    font-family: "Titillium Web";
}

html, body, #root {
    height: 100%;
    background-color: var(--secondary-color);
}

#root {
    position: relative;
}

.accordion {
    animation-name: animateAccordion;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animateAccordion {
    0% {
        max-height: 0px;
        overflow: hidden;
    }
    99% {
        max-height: 300px;
        overflow: hidden;
    }
    100% {
        overflow: visible;
    }
}


/* Landscape phones and down
@media (max-width: 480px) { 

}


/* Landscape phone to portrait tablet
@media (max-width: 767px) { 

}


/* Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) { 
    
}


/* Large desktop
@media (min-width: 1200px) { 

}
*/